body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42b883;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 10px;
}

.user {
  padding: 40px;
  background-color: #347474;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}

.user:hover {
  background-color: #35495e;
}

.hidden {
  display: none;
}

.user-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #ff7e67;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px black solid;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.user-card p::after {
  content: "|";
  margin: 0 10px;
}

.user-card p:last-child::after {
  content: "";
}

.user-card button {
  background-color: #347474;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.user-card button:hover {
  background-color: #35495e;
}

.add-user-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  background-color: #ff7e67;
  padding: 20px;
  border-radius: 10px;
}

.select-role {
  display: flex;
}

.addUser-button {
  background-color: #347474;
  border: none;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.addUser-button:hover {
  background-color: #35495e;
}

.edit-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}
